@use "./src/scss/base/variables" as *;

$cols: 4;

.grid {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  & > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    & > * {
      overflow: hidden;
    }
  }
}

@for $i from 1 through $cols {
  [data-col-start="#{$i}"] {
    grid-column-start: $i;
  }

  [data-cols="#{$i}"] {
    grid-column-end: span $i;
  }

  [data-col-end="#{$i + 1}"] {
    grid-column-end: $i + 1;
  }
}
