@use "./src/scss/base/variables" as *;

.media-block {
  $root: &;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: $dark;
  overflow: visible;

  .tag {
    margin-bottom: 15px;
  }

  &__link {
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
    position: relative;
    font-size: 28px;
    color: $light;
    border-top: 1px solid rgba($light, 0.2);
    border-bottom: 1px solid rgba($light, 0.2);
    padding: 25px 40px;

    & > * {
      pointer-events: none;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (hover: hover) {
      &:hover {
        #{$root} {
          &__action {
            opacity: 1;
            scale: 1;
            transform-origin: left center;
          }
        }
      }
    }

    svg {
      flex-shrink: 0;

      @media (width < 768px) {
        width: 18px;
      }
    }

    @media (width < 1024px) {
      font-size: 24px;
    }

    @media (width < 576px) {
      font-size: 16px;
    }
  }

  &__action {
    width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    scale: 0 1;
    transform-origin: right center;
    z-index: 10;
    opacity: 0;
    transition: scale 200ms ease, opacity 200ms ease;

    img,
    video {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }

  @media (width <= 768px) {
    grid-column: 1 / -1;
  }

  @media (width <= 576px) {
    grid-column: 1 / -1;
    padding: 25px 10px;
  }
}
