@use "./src/scss/base/variables" as *;

.menu-toggle {
  $root: &;
  position: fixed;
  top: 10vh;
  right: 3vw;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 16px 8px;
  z-index: 999;

  &__line {
    background-color: $light;
    height: 4px;
    width: 35px;
    transition-property: rotate, background-color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.475, 0.425, 0, 0.995), ease;
  }

  &--active {
    #{$root} {
      &__line {
        background-color: $dark;

        &:nth-child(1) {
          rotate: -45deg;
        }

        &:nth-child(2) {
          rotate: -135deg;
          margin-top: -7px;
        }
      }
    }
  }

  @media (hover: hover) {
    cursor: pointer;
  }
}
