@use "./src/scss/base/variables" as *;

.navigation {
  $root: &;
  height: 100%;
  z-index: 500;
  color: $dark;
  visibility: hidden;
  transition: visibility 950ms ease, translate 450ms ease;
  overflow: hidden;

  @media (width < 768px) {
    background-color: $light;
    translate: 0 -100%;
    overflow-y: auto;
    align-content: start;
  }

  a {
    outline: none;
  }

  &__cell {
    padding: 30px;
    background-color: $light;
    translate: 0 -100%;
    transition-property: translate;
    transition-timing-function: ease;
    grid-row: 1;
    overflow: hidden;

    &:not(:last-child) {
      border-right: 1px solid rgba($dark, 0.2);
    }

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 30px;
      transition-duration: 350ms;
      padding-top: 100px;
    }

    &:nth-child(2) {
      transition-duration: 550ms;
      padding-top: 140px;
      overflow-y: auto;
    }

    &:nth-child(3) {
      transition-duration: 750ms;
      place-content: end;
    }

    &:nth-child(4) {
      transition-duration: 950ms;
      padding-top: 200px;
    }

    @media (width < 1024px) {
      &:nth-child(1) {
        padding-inline: 15px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        grid-column: 2 / 4;
      }

      &:nth-child(3) {
        background-color: transparent;
        pointer-events: none;
      }
    }

    @media (width < 768px) {
      translate: -100% 0;

      &:nth-child(1),
      &:nth-child(4) {
        display: contents;
      }

      &:nth-child(2),
      &:nth-child(3) {
        grid-column: 1 / -1;
        translate: 0;
      }

      &:nth-child(2) {
        padding-top: 50px;
        overflow-y: hidden;
        height: min-content;
      }
    }
  }

  &__subtitle {
    letter-spacing: 0.02em;

    @media (width < 768px) {
      padding-bottom: 15px;
      text-align: right;
    }
  }

  &__contact,
  &__subtitle {
    @media (width < 768px) {
      padding-inline: 20px;
      grid-column: 1 / -1;
      transition-property: translate;
      transition-timing-function: ease;
      translate: 100% 0;
      transition-delay: 350ms;
      transition-duration: 450ms;
    }
  }

  &__contact,
  &__works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3px;
  }

  &__contact {
    @media (width < 768px) {
      align-items: flex-end;
      padding-bottom: 20px;
    }
  }

  &__contact-link {
    position: relative;
    color: $dark;
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.2;
    pointer-events: auto;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $dark;
      translate: -101% 0;
      transition: translate 350ms ease;
    }

    &:focus {
      &::before {
        translate: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          translate: 0;
        }
      }
    }

    @media (width < 1024px) {
      font-size: 16px;
    }
  }

  &__works-link {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-image: linear-gradient(
      to right,
      $dark 50%,
      rgba(0, 0, 0, 0.5) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 350ms ease;
    pointer-events: auto;

    @media (hover: hover) {
      &:hover {
        background-position: 0 100%;
      }
    }

    &:focus {
      background-position: 0 100%;
    }

    @media (width < 1200px) {
      font-size: 36px;
    }

    @media (width < 768px) {
      font-size: 30px;
    }
  }

  &__works {
    row-gap: 10px;
    grid-column: 1 / -1;
    transition-property: translate;
    transition-timing-function: ease;
    translate: -100% 0;
    transition-delay: 350ms;
    transition-duration: 450ms;
  }

  &--active {
    visibility: visible;
    translate: 0;

    #{$root} {
      &__cell,
      &__works,
      &__contact,
      &__subtitle {
        translate: 0;
      }
    }
  }
}
