@use "./src/scss/base/variables" as *;

.footer {
  position: relative;
  height: 80px;
  padding-inline: 50px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  border-top: 1px solid rgba($light, 0.2);
  font-size: 18px;
  line-height: 1.2;
  background-color: $dark;
  text-wrap: nowrap;

  @media (width < 768px) {
    margin-top: 100px;
  }

  &__link {
    position: relative;
    color: $light;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $light;
      translate: -101% 0;
      transition: translate 350ms ease;
    }

    &:focus {
      &::before {
        translate: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        &::before {
          translate: 0;
        }
      }
    }
  }

  &__content {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  @media (width <= 768px) {
    font-size: 14px;
    padding-inline: 10px;

    &__content {
      gap: 5px;
    }
  }

  @media (width <= 576px) {
    &__content {
      flex-direction: column;
    }
  }
}
