@use "./variables" as *;

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", serif;
  background-color: $dark;
  color: $light;
  background-image: linear-gradient(
    to right,
    transparent calc(25% - 1px),
    rgba(255, 255, 255, 0.2) 25%,
    transparent 0,
    transparent calc(50% - 1px),
    rgba(255, 255, 255, 0.2) 50%,
    transparent 0,
    transparent calc(75% - 1px),
    rgba(255, 255, 255, 0.2) 75%,
    transparent 0
  );
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-area: 1 / 1;
    grid-column: 1 / -1;
  }
}

.tag {
  display: block;
  width: fit-content;
  background-color: $light;
  color: $dark;
  padding-block: 4px;
  font-weight: 500;
  font-size: 16px;

  @media (width <= 768px) {
    font-size: 14px;
  }
}

// helper class

.obj-top {
  object-position: top;
}
