<a href="{{href}}" class="media-block__link" target="_blank">
  <span>{{name}}</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-up-right"
  >
    <path d="M7 7h10v10"></path>
    <path d="M7 17 17 7"></path>
  </svg>
  <div class="media-block__action">
    {{#if isImage}}
    <img src="./src/img/{{imageName}}.png" alt="" />
    {{else}}
    <video loading="lazy" preload="none" muted loop playsinline class="{{videoClass}}">
      <source
        src="./src/video/{{videoName}}.av1.mp4"
        type="video/mp4; codecs=av01.0.05M.08,opus"
      />
      <source
        src="./src/video/{{videoName}}.hevc.mp4"
        type="video/mp4; codecs=hvc1"
      />
      <source
        src="./src/video/{{videoName}}.h264.mp4"
        type="video/mp4; codecs=avc1.4D401E,mp4a.40.2"
      />
    </video>
    {{/if}}
  </div>
</a>
